<div class="container mt-5">
    <div class="row pt-3 pl-3 pr-3 pb-3">
        <div class="col-sm-6 text-center infoLeft">
            <div class="logo mt-5">
                <img src="../../../assets/contact/logo.png" alt="Logo" width="100" height="100">
                <p>Xây dựng ứng dụng chuẩn đoán bệnh bằng AI</p>
            </div>
            <div class="lienHe text-left mt-5">
                <h5>THÔNG TIN LIÊN HỆ</h5>
                <p>Địa chỉ: 300A - QL 1A - Quận 12 - TP HCM</p>
                <p>Email: chuandoanbenhAI@gmail.com</p>
                <p>Facebook: <a href="http://www.facebook.com">fb.com/chuandoanbenhAI/</a></p>
                <p>Hotline: 1900 9092</p>
                <p>Giờ làm việc: 24/24</p>
            </div>
            
        </div>
        <div class="col-sm-6 text-center infoRight">
            <h4 class="pt-2 mt-4">THÔNG TIN KHÁCH HÀNG</h4>
            <form>
                <div class="form-row">
                  <div class="col-12 mt-4">
                    <input mdbInput type="text" class="form-control" placeholder="Họ và tên">
                  </div>
                  <div class="col-12 mt-4">
                    <input mdbInput type="text" class="form-control" placeholder="Email">
                  </div>
                  <div class="col-12 mt-4">
                    <input mdbInput type="text" class="form-control" placeholder="Số điện thoại">
                  </div>
                  <div class="col-12 mt-4">
                    <textarea class="md-textarea form-control" placeholder="Nội dung" rows="8"></textarea>
                  </div>
                  <div class="col-12 mt-4 mb-4 nut">
                    <div class="row">
                        <div class="col-12">
                          <button type="button" class="btn btn-outline-primary">GỬI</button>
                        </div>
                    </div>
                  </div>
                </div>
              </form>
        </div>
    </div>
</div>