<div class="container mt-5 pt-5">
    <div class="row">
        <div class="col-12">
            <h3 class="text-left tieude" style="color: rgb(114, 114, 114);">VÌ SAO BẠN CẦN ĐẾN WEBSITE CHÚNG TÔI?</h3>
        </div>
    </div>
    <!-- ============================== -->
    <div class="row mt-5">
        <div class="col-lg-8 col-sm-12">
            <p class="pt-5 nd">Hiện nay, Việt Nam ta không có riêng một mạng xã hội
                để chia sẽ thông tin bệnh tật (tất nhiên phải đảm bảo tính riêng tư của người bệnh) giữa các người bệnh,
                cũng như không có riêng một mạng xã hội để chia sẽ thông tin về các bệnh hiểm nghèo (bệnh tật khó nói,
                khó chia sẽ bằng lời trực tiếp), dự đoán dịch bệnh, chia sẽ thông tin dịch bệch, cảnh báo dịch bệnh tới
                từng người dân</p>
        </div>
        <div class="col-lg-4 col-sm-12">
            <div class="contaier text-center">
                <div class="row">
                    <div class="col-12">
                        <img src="../../../assets/about/Untitled-2.png" alt="" width="250px" height="200px">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <h4 class="text-center" style="font-weight: 200;">WEBSITE CHÚNG TÔI GIÚP ĐƯỢC GÌ CHO BẠN?</h4>
        </div>
    </div>
    <!-- ============================== -->
    <div class="row mt-5">
        <div class="col-lg-4 col-sm-12">
            <div class="contaier text-center">
                <div class="row">
                    <div class="col-12">
                        <img src="../../../assets/about/Untitled-1.png" alt="" width="250px" height="200px">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-sm-12">
            <h5 class="pt-4">Dự đoán tái nhiễm bệnh.</h5>
            <p class="pt-2">Với khả năng dự đoán được khả năng tái nhiễm dự trên
                dữ liệu mà hàng triệu người dùng cung cấp. Chúng tôi sẽ đưa ra gợi ý cho bạn về khả năng tái nhiễm của
                bạn và sẽ tư vấn cho bạn nhưng phương pháp phòng ngừa và tư vấn cho bạn cách sinh hoạt, chế độ ăn uống,
                chăm sóc sức khỏe để giảm thiểu tối đa khả năng tái nhiễm bệnh.</p>
        </div>
    </div>
    <!-- ============================== -->
    <div class="row mt-5">
        <div class="col-lg-4 col-sm-12">
            <div class="contaier text-center">
                <div class="row">
                    <div class="col-12">
                        <img src="../../../assets/about/Untitled-1.png" alt="" width="250px" height="200px">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-sm-12">
            <h5 class="pt-4">Dự đoán lây nhiễm bệnh hoặc phơi nhiễm bệnh.</h5>
            <p class="pt-2">Với khả năng dự đoán được phơi nhiễm và lây nhiễm bệnh dự trên
                dữ liệu mà hàng triệu người dùng cung cấp. Chúng tôi sử dụng mô hình dự đoán dựa
                trên các thuật toán tiên tiến. Từ đó chúng tôi có thể cho bạn một sự hiểu biết về vùng
                nào đang có dịch bệnh trên quốc gia mà bạn đang sinh sống.</p>
        </div>
    </div>
    <!-- ============================== -->
    <div class="row mt-5">
        <div class="col-lg-4 col-sm-12">
            <div class="contaier text-center">
                <div class="row">
                    <div class="col-12">
                        <img src="../../../assets/about/Untitled-1.png" alt="" width="250px" height="200px">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-sm-12">
            <h5 class="pt-4">Cung cấp cho bạn biểu đồ thể hiện vùng dịch.</h5>
            <p class="pt-2">Với chức năng hiển thị vùng dịch một cách trực quan nhất đến người dân, chúng tôi tin rằng
                chức năng này sẽ giúp mọi người đánh giá được mức độ nghiêm trọng của tình hình dịch bệnh trong thời
                gian hiện hành. Từ đó người dân có thể nhận biết được mức độ nguy hiểm và chủ động phòng tránh.</p>
        </div>
    </div>
</div>