label {
  user-select: none;
  cursor: pointer;
}

.result {
  margin-top: 50px;
  text-transform: uppercase;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  line-height: normal;
}

.container {
  font-family: Arial, Helvetica, sans-serif;
  /* text-align: center; */
  margin-top: 50px;
}
/* ------- */
/* Buttons */
/* ------- */
/* input {
  display: none;
} */

#sad,
#happy {
  display: none;
}

.lblNormal {
  background: darkgrey;
  color: dimgray;
  border: 0;
  border-radius: 0.5em;
  padding: 15px;
  min-width: 60px;
  font-size: 18px;
  font-weight: bold;
  margin: 10px;
}
.lblHappy {
  background: chartreuse;
  color: darkgreen;
  border: 0;
  border-radius: 0.5em;
  padding: 15px;
  min-width: 60px;
  font-size: 18px;
  font-weight: bold;
  margin: 10px;
}
.lblSad {
  background: lightcoral;
  color: darkred;
  border: 0;
  border-radius: 0.5em;
  padding: 15px;
  min-width: 60px;
  font-size: 18px;
  font-weight: bold;
  margin: 10px;
}

/* ------- */
/* Smiley */
/* ------- */

.smiley {
  background: darkgrey;
  border-radius: 100%;
  padding: 25px;
  /* margin-top: 300px; */
  /* position: relative; */
  width: 150px;
  height: 150px;
  /* left: 50%;
  top: 50%; */
  transform: translate(0%, 0%);
  /* transform: translateX(-50%) translateY(calc(-50% - 121px)); */
  box-shadow: rgba(122, 122, 122, 0.498) 0px 30px 30px 1px;
  margin: 0 auto;
}

.mouth {
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  height: 10%;
  bottom: 25%;
  width: 40%;
  left: 50%;
  margin-left: -20%;
  box-sizing: border-box;
  position: absolute;
  background: dimgray;
  transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.eyes {
  width: 100%;
  margin-top: 30%;
  box-sizing: border-box;
  padding: 0 5px;
  transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.eyes .eye {
  width: 20px;
  height: 20px;
  background: dimgray;
  float: left;
  border-radius: 100%;
  position: relative;
}

.eyes .eye:nth-of-type(2) {
  float: right;
}

.eyes .eye::after {
  content: "";
  display: block;
  position: absolute;
  width: 0%;
  height: 0%;
  background: #fed800;
  transform: rotate(0deg);
  top: -15px;
  left: 5px;
  transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.eyes .eye:first-of-type::after {
  transform: rotate(0deg);
  left: auto;
  right: 5px;
}

/* Normal animation */
.smiley.normal .mouth,
#normal[type="radio"]:checked ~ .smiley .mouth {
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  height: 10%;
  width: 40%;
  bottom: 25%;
  margin-left: -20%;
}

.smiley.normal .eyes,
#normal[type="radio"]:checked ~ .smiley .eyes {
  margin-top: 30%;
}
/* ------------- */
/* sad animation */
/* ------------- */
.smiley.sad .smiley,
#sad[type="radio"]:checked ~ .smiley {
  background: lightcoral;
}
.smiley.sad .mouth,
#sad[type="radio"]:checked ~ .smiley .mouth {
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  height: 10%;
  width: 40%;
  bottom: 25%;
  margin-left: -20%;
  background-color: darkred;
}
.smiley.sad .eye,
#sad[type="radio"]:checked ~ .smiley .eye {
  background-color: darkred;
}

.smiley.sad .eyes,
#sad[type="radio"]:checked ~ .smiley .eyes {
  margin-top: 35%;
}

.smiley.sad .eye::after,
#sad[type="radio"]:checked ~ .smiley .eye::after {
  width: 120%;
  height: 50%;
  transform: rotate(45deg);
  top: -3px;
  left: 5px;
  border-radius: 0;
  background-color: lightcoral;
}

.smiley.sad .eye:first-of-type::after,
#sad[type="radio"]:checked ~ .smiley .eye:first-of-type::after {
  transform: rotate(-35deg);
  left: auto;
  right: 5px;
}

/* --------- */
/*  happy  */
/* --------- */

.smiley.happy .smiley,
#happy[type="radio"]:checked ~ .smiley {
  background: chartreuse;
}

.smiley.happy .mouth,
#happy[type="radio"]:checked ~ .smiley .mouth {
  animation: move-mouth-down 6s;
  animation-delay: 5s;
  animation-iteration-count: infinite;

  width: 60%;
  height: 30%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-radius: 10px 10px 100px 100px;
  box-sizing: border-box;
  position: absolute;
  bottom: 18%;
  left: 50%;
  margin-left: -30%;
  background: darkgreen;
  transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

@keyframes move-mouth-down {
  0% {
    bottom: 18%;
  }

  4.55% {
    bottom: 16%;
  }

  8.45% {
    bottom: 16%;
  }

  13% {
    bottom: 18%;
  }
  100% {
    bottom: 18%;
  }
}

.smiley.happy .eyes,
#happy[type="radio"]:checked ~ .smiley .eyes {
  animation: move-eyes-down 6s;
  animation-delay: 5s;
  margin-top: 15%;
  background-color: darkgreen;

  animation-iteration-count: infinite;
}

@keyframes move-eyes-down {
  0% {
    margin-top: 15%;
  }

  4.55% {
    margin-top: 19%;
  }

  8.45% {
    margin-top: 19%;
  }

  13% {
    margin-top: 15%;
  }

  100% {
    margin-top: 15%;
  }
}
.smiley.happy .eye,
#happy[type="radio"]:checked ~ .smiley .eye {
  background-color: darkgreen;
}

.smiley.happy .eye:nth-of-type(2),
#happy[type="radio"]:checked ~ .smiley .eye:nth-of-type(2) {
  height: 20px;
  margin-top: 0;
  animation: wink 6s;
  background-color: darkgreen;
  animation-delay: 5s;
  animation-iteration-count: infinite;
}

@keyframes wink {
  0% {
    height: 20px;
    margin-top: 0;
  }

  3.9% {
    height: 3px;
    margin-top: 8px;
  }

  9.1% {
    height: 3px;
    margin-top: 8px;
  }

  13% {
    height: 20px;
    margin-top: 0;
  }

  100% {
    height: 20px;
    margin-top: 0;
  }
}

.smiley.normal .eye,
#normal[type="radio"]:checked ~ .smiley .eye {
  height: 20px;
  margin-top: 0;
  animation: blink 6s;
  animation-delay: 5s;
  animation-iteration-count: infinite;
}
#normal[type="radio"]:checked ~ .squiggle {
  color: transparent;
}

@keyframes blink {
  0% {
    height: 20px;
    margin-top: 0;
  }

  3.25% {
    height: 2px;
    margin-top: 8px;
  }

  6.5% {
    height: 20px;
    margin-top: 0;
  }

  9.75% {
    height: 2px;
    margin-top: 8px;
  }

  13% {
    height: 20px;
    margin-top: 0;
  }
  100% {
    height: 20px;
    margin-top: 0;
  }
}

/* ----------- */
/*     sad   */
/* ----------- */
.smiley.angry .eyes,
.smiley.angry .mouth,
#sad[type="radio"]:checked ~ .smiley .eyes,
#sad[type="radio"]:checked ~ .smiley .mouth {
  animation: move-angry-head 6s;
  animation-delay: 5s;
  animation-iteration-count: infinite;
}

@keyframes move-angry-head {
  0% {
    transform: translateX(0%);
  }

  2.6% {
    transform: translateX(-20%);
  }

  5.2% {
    transform: translateX(15%);
  }

  7.8% {
    transform: translateX(-10%);
  }

  10.4% {
    transform: translateX(5%);
  }

  13% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(0%);
  }
}

/* STEAM */
.steam-container {
  position: relative;
  width: 100px;
  height: 0px;
  top: -40px;
  display: none;
}

.squiggle-container {
  width: 10px;
  height: 30px;
  display: inline-block;
}

.squiggle-container-1 {
  transform: translate(-10px, 20px);
}
.squiggle-container-1 .squiggle {
  animation: move-and-fade 2.5s linear infinite;
  animation-delay: 0.2s;
  width: 10px;
}
@keyframes move-and-fade {
  0% {
    opacity: 0;
    transform: translate(0, 10px);
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    transform: translateY(100px);
    opacity: 0;
  }
}
.squiggle-container-2 {
  transform: translateY(10px);
}
.squiggle-container-2 .squiggle {
  animation: move-and-fade 2.5s linear infinite;
  animation-delay: 0s;
  width: 10px;
}
@keyframes move-and-fade {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    transform: translateY(-20px);
    opacity: 0;
  }
}
.squiggle-container-3 {
  transform: translate(10px, 20px);
}
.squiggle-container-3 .squiggle {
  animation: move-and-fade 2.5s linear infinite;
  animation-delay: 0.4s;
  width: 10px;
}
@keyframes move-and-fade {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    transform: translateY(-15px);
    opacity: 0;
  }
}
.squiggle {
  stroke-dasharray: 100;
}
.squiggle path {
  stroke: #fc635d;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  50% {
    stroke-dashoffset: 500;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
