<div class="container">
    <div class="row pt-3 pl-3 pr-3 pb-3">
        <div class="col-sm-6 text-center infoLeft">
            <div class="logo mt-6">
                <h4 class="pt-2 mt-4">THÔNG TIN PHẢN HỒI TỚI CHÚNG TÔI</h4>
                <form>
                    <div class="form-row">
                        <div class="col-12 mt-4">
                            <input mdbInput type="text" class="form-control" placeholder="Họ và tên" />
                        </div>
                        <div class="col-12 mt-4">
                            <input mdbInput type="text" class="form-control" placeholder="Email" />
                        </div>
                        <div class="col-12 mt-4">
                            <input mdbInput type="text" class="form-control" placeholder="Số điện thoại" />
                        </div>
                        <div class="col-12 mt-4">
                            <textarea class="md-textarea form-control" placeholder="Nội dung" rows="8"></textarea>
                        </div>
                        <div class="col-12 mt-4 mb-4 nut">
                            <div class="row">
                                <div class="col-12">
                                    <h4>Đánh giá</h4>
                                    <img src="assets/image/star.png" style="width: 3ch; margin-left: 10px; "  />
                                    <img src="assets/image/star.png" style="width: 3ch; margin-left: 10px;" />
                                    <img src="assets/image/star.png" style="width: 3ch; margin-left: 10px;" />
                                    <img src="assets/image/star.png" style="width: 3ch; margin-left: 10px;" />
                                    <img src="assets/image/star.png" style="width: 3ch; margin-left: 10px;"><br><br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <button type="button" style="height: 45px;width: 200px;" class="btn btn-outline-primary">GỬI</button>
                                    <p style="color: rgb(230, 14, 14);">bạn cần đăng nhập để tiếp tục phản hồi </p>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="lienHe text-left mt-5"></div>
        </div>
        
        <div class="col-sm-6 text-center infoRight">
            <h4 class="pt-2 mt-4">TẤT CẢ ĐÁNH GIÁ</h4>
            <div class="row2">
            <div class="row row 2">
                <div class="col-md-4"><img style="height: 120px; width: 100px; padding-top: 25px;" src="/assets/image/avt1.jpg" /></div>
                <div class="clo-md-8" style="margin-left: 25px;">
                    <img src="assets/image/star.png" style="width: 3ch; margin-top: 20px; "  />
                    <img src="assets/image/star.png" style="width: 3ch; margin-left: 10px; margin-top: 20px; " />
                    <img src="assets/image/star.png" style="width: 3ch; margin-left: 10px; margin-top: 20px; " />
                    <img src="assets/image/star.png" style="width: 3ch; margin-left: 10px; margin-top: 20px; " />
                    <img src="assets/image/star.png" style="width: 3ch; margin-left: 10px; margin-top: 20px; " /><br />
                    <br />
                    <div class="clo"><p>Phản hồi của khách hàng</p></div>
                    <div class="clo">08:54:32 12-05-2021</div>
                </div>
            </div>


            <div class="row row 2">
                <div class="col-md-4"><img style="height: 120px; width: 100px; padding-top: 25px;" src="/assets/image/avt1.jpg" /></div>
                <div class="clo-md-8" style="margin-left: 25px;">
                    <img src="assets/image/star.png" style="width: 3ch; margin-top: 20px; "  />
                    <img src="assets/image/star.png" style="width: 3ch; margin-left: 10px; margin-top: 20px; " />
                    <img src="assets/image/star.png" style="width: 3ch; margin-left: 10px; margin-top: 20px; " />
                    <img src="assets/image/star.png" style="width: 3ch; margin-left: 10px; margin-top: 20px; " />
                    <img src="assets/image/star.png" style="width: 3ch; margin-left: 10px; margin-top: 20px; " /><br />
                    <br />
                    <div class="clo"><p>Phản hồi của khách hàng</p></div>
                    <div class="clo">08:54:32 12-05-2021</div>
                </div>
            </div>



            <div class="row row 2">
                <div class="col-md-4"><img style="height: 120px; width: 100px; padding-top: 25px;" src="/assets/image/avt1.jpg" /></div>
                <div class="clo-md-8" style="margin-left: 25px;">
                    <img src="assets/image/star.png" style="width: 3ch; margin-top: 20px; "  />
                    <img src="assets/image/star.png" style="width: 3ch; margin-left: 10px; margin-top: 20px; " />
                    <img src="assets/image/star.png" style="width: 3ch; margin-left: 10px; margin-top: 20px; " />
                    <img src="assets/image/star.png" style="width: 3ch; margin-left: 10px; margin-top: 20px; " />
                    <img src="assets/image/star.png" style="width: 3ch; margin-left: 10px; margin-top: 20px; " /><br />
                    <br />
                    <div class="clo"><p>Phản hồi của khách hàng</p></div>
                    <div class="clo">08:54:32 12-05-2021</div>
                </div>
            </div>



            <div class="row row 2">
                <div class="col-md-4"><img style="height: 120px; width: 100px; padding-top: 25px;" src="/assets/image/avt1.jpg" /></div>
                <div class="clo-md-8" style="margin-left: 25px;">
                    <img src="assets/image/star.png" style="width: 3ch; margin-top: 20px; "  />
                    <img src="assets/image/star.png" style="width: 3ch; margin-left: 10px; margin-top: 20px; " />
                    <img src="assets/image/star.png" style="width: 3ch; margin-left: 10px; margin-top: 20px; " />
                    <img src="assets/image/star.png" style="width: 3ch; margin-left: 10px; margin-top: 20px; " />
                    <img src="assets/image/star.png" style="width: 3ch; margin-left: 10px; margin-top: 20px; " /><br />
                    <br />
                    <div class="clo"><p>Phản hồi của khách hàng</p></div>
                    <div class="clo">08:54:32 12-05-2021</div>
                </div>
            </div>



  

           
        </div>

       




      
              
        </div>
    </div>
</div>
