<!-- Footer Start -->
<div class="footer wow fadeIn" data-wow-delay="0.3s">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <div class="footer-contact">
          <h2>Thông tin liên hệ</h2>
          <p>
            <i class="fa fa-map-marker-alt"></i>
            Địa chỉ
          </p>
          <p>
            <i class="fa fa-phone-alt"></i>
            +84 xxxxxxx
          </p>
          <p>
            <i class="fa fa-envelope"></i>
            hothanhphu2k@gmail.com
          </p>
          <div class="footer-social">
            <a href=""><i class="fab fa-facebook-f"></i></a>
            <a href=""><i class="fab fa-youtube"></i></a>
            <a href=""><i class="fab fa-linkedin"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="footer-link">
          <h2>Menu</h2>
          <a routerLink="#">Trang chủ</a>
          <a routerLink="#">Nhập thông tin</a>
          <a routerLink="#">Thành viên</a>
          <a routerLink="#">Nhận xét</a>
          <a routerLink="#">Giới thiệu</a>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="nameOfProject">
          <h2>Dự án</h2>
          <p>
            Xây dựng ứng dụng chuẩn đoán bệnh bằng AI
          </p>
          <img src='../../../assets/image/Logo_Ai_4.png' alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="container footer-menu">
    <div class="f-menu">
      <a href="">Điều khoản sử dụng</a>
      <a href="">Chính sách bảo mật</a>
      <a href="">Cookies</a>
      <a href="">Trợ giúp</a>
      <a href="">Lỗi FAQs</a>
    </div>
  </div>
  <div class="container copyright">
    <div class="row">
      <div class="col-md-6">
        <p>
          <span>Copyright</span>&copy;
          <a href="#">Trường Đại học Nguyễn Tất Thành - Khoa Công Nghệ Thông Tin</a>,
          <span>All Right Reserved. 2021</span>
        </p>
      </div>
      <div class="col-md-6">
        <p>
          <span>Designed By </span>
          <a href="">Sinh viên khoa Công Nghệ Thông Tin - Đại học Nguyễn Tất Thành</a>
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Footer End -->
