<div class="container-fluid banner">
  <div class="row">
    <div class="col-12">
      <h1
        class="text-center tieude"
        style="letter-spacing: 13px; font-weight: 400; line-height: 50px;"
      >
        WELCOME TO OUR TEAM
      </h1>
    </div>
  </div>
</div>
<div class="container mx-auto pt-5">
  <div class="row">
    <div class="col-lg-6 col-sm-12">
      <img
        src="../../../assets/ourTeam/team.png"
        alt=""
        width="90%"
        height="90%"
        style="margin-left: 15px;"
      />
    </div>
    <div class="col-lg-6 col-sm-12 mt-5">
      <h5>VÌ SAO THÁCH THỨC TEAM ĐƯỢC THÀNH LẬP?</h5>
      <hr />
      <p class="text-justify">
        Nhận thấy việc tạo nên một mạng xã hội chia sẻ về tình hình bệnh tật(các
        bệnh khó nói), động viên, chia sẻ với người bệnh cũng như đưa ra những
        dự đoán mang tính chính xác cao để góp phần vào công cuộc phòng chống
        dịch bệnh trên toàn Quốc. Vì vậy nhóm được thành lập để hiện thực hóa ý
        tưởng!
      </p>
    </div>
  </div>
</div>
<div class="container mx-auto">
  <hr />
</div>
<div class="container mx-auto">
  <div class="row">
    <div class="col-12">
      <h3 class="text-center">OUR TEAM</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-sm-12">
      <div class="card">
        <div class="content">
          <div class="avatar mx-auto">
            <img src="../../../assets/ourTeam/phu.jpg" alt="" width="100%" height="100%">
          </div>
          <div class="nd">
            <p class="mt-5 text-center tit">Hồ Thanh Phú</p>
            <p>
              Facebook:
              <a href="https://www.facebook.com/phus.0101">Phú</a>
            </p>
            <p>Email: <a href="mailto:hothanhphu2k@gmail.com">hothanhphu2k@gmail.com</a></p>
            <p>
              SDT:
              <span>0888129xxx</span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-12">
      <div class="card">
        <div class="content">
          <div class="avatar mx-auto">
            <img src="../../../assets/ourTeam/tuan.jpg" alt="" width="100%" height="100%">
          </div>
          <div class="nd">
            <p class="mt-5 text-center tit">Võ Công Tuấn</p>
            <p>
              Facebook:
              <a href="https://www.facebook.com/profile.php?id=100007923618095">Tuấn</a>
            </p>
            <p>Email: <a href="mailto:tuanvo1905tav@gmail.com">tuanvo1905tav@gmail.com</a></p>
            <p>
              SDT:
              <span>0394522xxx</span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-12">
      <div class="card">
        <div class="content">
          <div class="avatar mx-auto">
            <img src="../../../assets/ourTeam/khang.jpg" alt="" width="100%" height="100%">
          </div>
          <div class="nd">
            <p class="mt-5 text-center tit">Nguyễn Minh Khang</p>
            <p>
              Facebook:
              <a href="https://www.facebook.com/khangminr">Khang</a>
            </p>
            <p class="elipsit">Email: <a href="mailto:nguyenminhkhang9720@gmail.com">nguyenminhkhang9720@gmail.com</a> </p>
            <p>
              SDT:
              <span>0364772xxx</span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-12">
      <div class="card">
        <div class="content">
          <div class="avatar mx-auto">
            <img src="../../../assets/ourTeam/si.jpg" alt="" width="100%" height="100%">
          </div>
          <div class="nd">
            <p class="mt-5 text-center tit">Nguyễn Tấn Sĩ</p>
            <p>
              Facebook:
              <a href="https://www.facebook.com/singuyen7711">Sĩ</a>
            </p>
            <p>Email: <a href="mailto:tansy7711@gmail.com">tansy7711@gmail.com</a></p>
            <p>
              SDT:
              <span>0947774xxx</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
